.ce-toolbar__plus, .ce-toolbar__settings-btn{
  color:var(--text);

}
  
*::selection{
  background: var(--blue);
}

.ce-toolbar__plus:hover, .ce-toolbar__settings-btn:hover{
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}
  
.ce-popover, .ce-inline-toolbar{
  background: rgba(255, 255, 255, 0.7);
  border-radius: 16px;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  color:var(--text);
}
  
  .ce-popover svg {
    color:var(--text);
  }

  .ce-inline-toolbar button:hover{

  }
  
  .ce-popover__item:hover {
    background: rgba(255, 255, 255, 0.7);
    border-radius: 16px;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
  
    color:var(--text-reverse);
  }

  .ce-block--selected .ce-block__content{
    background: var(--blue);
  }

  .cdx-search-field{
    background: rgba(255, 255, 255, 0.1);
    border-radius: 12px;
 
  }
  .cdx-search-field input , .cdx-search-field svg{
    color:var(--text);
  }